#about-page {
    display: flex;
    width: 50%;
    margin: auto;
    height: 100%;
    flex-direction: column;
}

#page-header {
    color: white;
    font-size: 45px;
    text-align: center;
}

#about-display {
    display: flex;
    justify-content: space-evenly;
}

#about-image {
    width: 40%;
}

#about-text {
    width: 60%;
    color: white;
}